{% extends "layout_policy.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Policy Enforcement Application - Requesting Data</legend>
                <div class="form-group">

		    {{ form.whatid.label(class="form-control-label") }}
		    {{ form.whatid(class="form-control form-control-lg") }}

   		    {{ form.whattype.label(class="form-control-label") }}
		    {{ form.whattype(class="form-control form-control-lg") }}

		    {{ form.who.label(class="form-control-label") }}
		    {{ form.who(class="form-control form-control-lg") }}

		    {{ form.purpose.label(class="form-control-label") }}
		    {{ form.purpose(class="form-control form-control-lg") }}

		    {{ form.requestingName.label(class="form-control-label") }}
		    {{ form.requestingName(class="form-control form-control-lg") }}
                </div>
            </fieldset>
            {{ form.submit(class="btn btn-outline-info") }}
        </form>
    </div>
{% endblock content %}
